extends base.pug
block style
  style
    include ../static/CSS/contact.css
block content
  section.contact-us
  .container.m-5
    .contact-col
      h1.textcenter Enter Your Email
      form(action='/ForgotPassword' method='POST')
        input(type='email' name="email" placeholder='Enter Your Email Address' required)
        button(type='submit') Submit