extends base.pug
block content
  //----------------------------------------------- About Section -------------------------------------------
  section#About
    .about
      h1.h1
        span.span
        | About Us
        span.span
      p.p
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur dolorem harum mollitia. Cum,
        | culpa enim
        | asperiores at aliquid quis tempora eligendi adipisci assumenda. Fugiat, voluptas voluptatibus officia
        | quos natus cumque?
        | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid sunt voluptate eaque ea velit.
        | Inventore veritatis quae ullam quia rerum architecto sunt assumenda similique voluptas accusantium. Odit
        | recusandae vel nobis ut officia nisi possimus alias facilis, rem ad magnam quis!
        | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque impedit obcaecati provident, non
        | inventore facere ex quia atque at aliquam? A totam dolor sequi culpa aperiam recusandae porro
        | praesentium, eum quam commodi dolorem eligendi delectus quisquam cum, consequatur, nulla odit?
      .btn
        a.m2(href='/AboutUs')
          button Read More
  //------------------------------------------- Services Section --------------------------------------------
  section#Services
    .services
      h1.h1
        span.span
        | Our Services
        span.span
      p.p
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos quo hic consequuntur at
        | quasi corporis, saepe, nemo nostrum expedita eaque iste incidunt unde ipsam debitis, molestias
        | voluptatibus?
        | Fugiat.Lorem
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos quo hic consequuntur at
        | quasi corporis, saepe, nemo nostrum expedita eaque iste incidunt unde ipsam debitis, molestias
        | voluptatibus?
      .container
        .row
          .col-md-4.my-4
            .main
              .service
                .service-logo
                  i.fa.fa-map-marker(aria-hidden='true')
                h4 Accessible Location
                p
                  | Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, ratione sit
                  | similique illo
                  | amet dolorem ea? Laboriosam corrupti, ex soluta debitis obcaecati sint ipsam
                  | officiis optio
                  | vitae, deserunt assumenda aperiam molestias ipsum?
              .shadowOne
              .shadowTwo
          .col-md-4.my-4
            .main
              .service
                .service-logo
                  i.fa.fa-phone(aria-hidden='true')
                h4 Open 24/7
                p
                  | Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, ratione sit
                  | similique illo
                  | amet dolorem ea? Laboriosam corrupti, ex soluta debitis obcaecati sint ipsam
                  | officiis optio
                  | vitae, deserunt assumenda aperiam molestias ipsum?
              .shadowOne
              .shadowTwo
          .col-md-4.my-4
            .main
              .service
                .service-logo
                  i.fa.fa-calendar-check-o(aria-hidden='true')
                h4 Reservation
                p
                  | Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, ratione sit
                  | similique illo
                  | amet dolorem ea? Laboriosam corrupti, ex soluta debitis obcaecati sint ipsam
                  | officiis optio
                  | vitae, deserunt assumenda aperiam molestias ipsum?
              .shadowOne
              .shadowTwo
      .btn
        a.m2(href='/Services')
          button Read More
  //------------------------------------- Top Destinations Section ------------------------------------------
  section.TopDestinations
    .topDestinations
      h1.h1
        span.span
        | Top Destinations
        span.span
      section#gallery.gallery
        .container
          .gallery-details
            .gallery-box
              .gallery-content
                .filtr-container
                  .row
                    .col-md-6
                      .filtr-item
                        img(src='../static/img/South Island, New Zealand.jpg' alt='portfolio image')
                        .item-title
                          a(href='/PlaceDetail/South Island, New Zealand')
                            | South Island, New Zealand
                          p
                            span 20 tours
                            br
                            span 15 places
                    .col-md-6
                      .filtr-item
                        img(src='../static/img/Paris.jpg' alt='portfolio image')
                        .item-title
                          a(href='/PlaceDetail/Paris')
                            | Paris
                          p
                            span 12 tours
                            br
                            span 9 places
                    .col-md-6
                      .filtr-item
                        img(src='../static/img/brazil.jpg' alt='portfolio image')
                        .item-title
                          a(href='/PlaceDetail/Brazil')
                            | Brazil
                          p
                            span 25 tours
                            br
                            span 10 places
                    .col-md-6
                      .filtr-item
                        img(src='../static/img/Australia.jpg' alt='portfolio image')
                        .item-title
                          a(href='/PlaceDetail/Australia')
                            | Australia
                          p
                            span 18 tours
                            br
                            span 9 places
                    .col-md-6
                      .filtr-item
                        img(src='../static/img/London.jpg' alt='portfolio image')
                        .item-title
                          a(href='/PlaceDetail/London')
                            | London
                          p
                            span 14 tours
                            br
                            span 12 places
                    .col-md-6
                      .filtr-item
                        img(src='../static/img/Turkey.jpg' alt='portfolio image')
                        .item-title
                          a(href='/PlaceDetail/Turkey')
                            | Turkey
                          p
                            span 14 tours
                            br
                            span 6 places
  //------------------------------------------- Special Packages  Section ------------------------------------
  section.SpecialPackages
    .specialPackages
      h1.h1
        span.span
        | Special Packages
        span.span
      section#pack.packages
        .container
          .packages-content
            .row
              .col-md-4
                .single-package-item
                  img(src='../static/img/Italy.jpg' alt='package-place')
                  .single-package-item-txt
                    h3 Italy 
                      span.pull-right $499
                    .packages-para
                      p
                        span
                          i.fa.fa-angle-right
                          | 5 days 6 nights
                        i.fa.fa-angle-right
                        | 5 star accomodation
                      p
                        span
                          i.fa.fa-angle-right
                          | transportation
                        i.fa.fa-angle-right
                        | food facilities
                    .packages-review
                      p
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        span 2544 review
                    .about-btn
                      a(href='/Booknow')
                        button.about-view.packages-btn
                          | book now
              .col-md-4
                .single-package-item
                  img(src='../static/img/England.jpg' alt='package-place')
                  .single-package-item-txt
                    h3 England 
                      span.pull-right $1499
                    .packages-para
                      p
                        span
                          i.fa.fa-angle-right
                          | 5 daays 6 nights
                        i.fa.fa-angle-right
                        | 5 star accomodation
                      p
                        span
                          i.fa.fa-angle-right
                          | transportation
                        i.fa.fa-angle-right
                        | food facilities
                    .packages-review
                      p
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        span 2544 review
                    .about-btn
                      a(href='/Booknow')
                        button.about-view.packages-btn
                          | book now
              .col-md-4
                .single-package-item
                  img(src='../static/img/France.jpg' alt='package-place')
                  .single-package-item-txt
                    h3 France 
                      span.pull-right $1199
                    .packages-para
                      p
                        span
                          i.fa.fa-angle-right
                          | 5 daays 6 nights
                        i.fa.fa-angle-right
                        | 5 star accomodation
                      p
                        span
                          i.fa.fa-angle-right
                          | transportation
                        i.fa.fa-angle-right
                        | food facilities
                    .packages-review
                      p
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        span 2544 review
                    .about-btn
                      a(href='/Booknow')
                        button.about-view.packages-btn
                          | book now
              .col-md-4
                .single-package-item
                  img(src='../static/img/India.jpg' alt='package-place')
                  .single-package-item-txt
                    h3 India 
                      span.pull-right $799
                    .packages-para
                      p
                        span
                          i.fa.fa-angle-right
                          | 5 daays 6 nights
                        i.fa.fa-angle-right
                        | 5 star accomodation
                      p
                        span
                          i.fa.fa-angle-right
                          | transportation
                        i.fa.fa-angle-right
                        | food facilities
                    .packages-review
                      p
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        span 2544 review
                    .about-btn
                      a(href='/Booknow')
                        button.about-view.packages-btn
                          | book now
              .col-md-4
                .single-package-item
                  img(src='../static/img/Spain.jpg' alt='package-place')
                  .single-package-item-txt
                    h3 Spain 
                      span.pull-right $999
                    .packages-para
                      p
                        span
                          i.fa.fa-angle-right
                          | 5 daays 6 nights
                        i.fa.fa-angle-right
                        | 5 star accomodation
                      p
                        span
                          i.fa.fa-angle-right
                          | transportation
                        i.fa.fa-angle-right
                        | food facilities
                    .packages-review
                      p
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        span 2544 review
                    .about-btn
                      a(href='/Booknow')
                        button.about-view.packages-btn
                          | book now
              .col-md-4
                .single-package-item
                  img(src='../static/img/Thailand.jpg' alt='package-place')
                  .single-package-item-txt
                    h3 Thailand 
                      span.pull-right $799
                    .packages-para
                      p
                        span
                          i.fa.fa-angle-right
                          | 5 daays 6 nights
                        i.fa.fa-angle-right
                        | 5 star accomodation
                      p
                        span
                          i.fa.fa-angle-right
                          | transportation
                        i.fa.fa-angle-right
                        | food facilities
                    .packages-review
                      p
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        span 2544 review
                    .about-btn
                      a(href='/Booknow')
                        button.about-view.packages-btn
                          | book now
  //-------------------------------------------- Our Team Section ---------------------------------------------
  section#OurTeam
    .ourTeam
      h1.h1
        span.span
        | Our Team
        span.span
      .team-row
        .profile-box
          h5 Siddharth
          small Senior Developer
          img(src='../static/img/ot1.jpg' alt='')
          .social-box
            a(href='#')
              i.fab.fa-facebook
            a(href='#')
              i.fab.fa-twitter
            a(href='#')
              i.fab.fa-whatsapp
            a(href='#')
              i.fab.fa-youtube
            a(href='#')
              i.fab.fa-instagram
          p
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti nisi non nesciunt pariatur
            | debitis,
            | quos architecto quibusdam dicta quas tempore corporis.
        .profile-box
          h5 Hamudi
          small Associate Developer
          img(src='../static/img/ot2.jpg' alt='')
          .social-box
            a(href='#')
              i.fab.fa-facebook
            a(href='#')
              i.fab.fa-twitter
            a(href='#')
              i.fab.fa-whatsapp
            a(href='#')
              i.fab.fa-youtube
            a(href='#')
              i.fab.fa-instagram
          p
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti nisi non nesciunt pariatur
            | debitis,
            | quos architecto quibusdam dicta quas tempore corporis.
        .profile-box
          h5 Udit
          small Network Engineer
          img(src='../static/img/ot3.jpg' alt='')
          .social-box
            a(href='#')
              i.fab.fa-facebook
            a(href='#')
              i.fab.fa-twitter
            a(href='#')
              i.fab.fa-whatsapp
            a(href='#')
              i.fab.fa-youtube
            a(href='#')
              i.fab.fa-instagram
          p
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti nisi non nesciunt pariatur
            | debitis,
            | quos architecto quibusdam dicta quas tempore corporis.
        .profile-box
          h5 Shubham
          small Junior Web Developer
          img(src='../static/img/ot4.jpg' alt='')
          .social-box
            a(href='#')
              i.fab.fa-facebook
            a(href='#')
              i.fab.fa-twitter
            a(href='#')
              i.fab.fa-whatsapp
            a(href='#')
              i.fab.fa-youtube
            a(href='#')
              i.fab.fa-instagram
          p
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti nisi non nesciunt pariatur
            | debitis,
            | quos architecto quibusdam dicta quas tempore corporis
  //---------------------------------------------- Special Offer Section -----------------------------------------
  section#spo.special-offer.my-5
    .container
      .special-offer-content
        .row
          .col-sm-8
            .single-special-offer
              .single-special-offer-txt
                h2 Thailand
                .packages-review.special-offer-review
                  p
                    i.fa.fa-star
                    i.fa.fa-star
                    i.fa.fa-star
                    i.fa.fa-star
                    i.fa.fa-star
                    span 2544 review
                .packages-para.special-offer-para
                  p
                    span
                      i.fa.fa-angle-right
                      | 5 daays 6 nights
                    span
                      i.fa.fa-angle-right
                      | 2 person
                    span
                      i.fa.fa-angle-right
                      | 5 star accomodation
                  p
                    span
                      i.fa.fa-angle-right
                      | transportation
                    span
                      i.fa.fa-angle-right
                      | food facilities
                  p.offer-para
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tem ut
                    | labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    | exercitation una
                    br
                    | ullamco laboris nisi ut aliquip ex ea commodo consequat.
                .offer-btn-group
                  .about-btn
                    button.about-view.packages-btn.offfer-btn
                      | Make Tour
                  .about-btn
                    a(href='/SpecialOfferBooking')
                      button.about-view.packages-btn
                        | Book Now
          .col-sm-4
            .single-special-offer
              .single-special-offer-bg
                img(src='../static/img/offer-shape.png' alt='offer-shape')
              .single-special-shape-txt
                h3 Special Offer
                h4
                  span 40%
                  br
                  | off
                p
                  span $999
                  br
                  | reguler $ 1450
  //---------------------------------------------- Clint Reviews Section ------------------------------------------
  section.ClintReviews
    .clintReviews
      h1.h1
        span.span
        | Clint Reviews
        span.span
      section.testimonials
        .container
          .row
            .col-md-4.text-center
              .profile
                img.user(src='../static/img/cr2.jpg' alt='')
                blockquote
                  | Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed doloremque eos
                  | possimus, aperiam veritatis perspiciatis voluptatum. Dolore ab corrupti maxime.
                  | Lorem ipsum
                  | dolor sit.
                h3 Siddharth Saraswat 
                  br
                  span (Co-Founder at TCS)
            .col-md-4.text-center
              .profile
                img.user(src='../static/img/cr5.jpg' alt='')
                blockquote
                  | Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed doloremque eos
                  | possimus, aperiam veritatis perspiciatis voluptatum. Dolore ab corrupti maxime.
                  | Lorem ipsum
                  | dolor sit.
                h3 Siddharth Saraswat 
                  br
                  span (Co-Founder at TCS)
            .col-md-4.text-center
              .profile
                img.user(src='../static/img/cr2.jpg' alt='')
                blockquote
                  | Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed doloremque eos
                  | possimus, aperiam veritatis perspiciatis voluptatum. Dolore ab corrupti maxime.
                  | Lorem ipsum
                  | dolor sit.
                h3 Siddharth Saraswat 
                  br
                  span (Co-Founder at TCS)
  //---------------------------------------------- Our Blog Section ---------------------------------------------
  section.OurBlog
    .ourBlog
      h1.h1
        span.span
        | Our Blog
        span.span
      #blog.blog
        .container
          .row
            .col-md-6.col-sm-12
              .blog-box
                figure
                  img(src='../static/img/blog-image.jpg' alt='#')
                  span 4 Feb 2019
                .travel
                  span Post By : Travel Agency
                  p
                    strong.Comment  06 
                    | Comment
                  p
                    strong.like 05 
                    | Like
                h3 London Amazing Tour
                p
                  | It is a long established fact that a reader will be distracted by the readable
                  | content of a
                  | page
                  | when looking at its layout. The point of using Lorem Ipsum is that it has a
                  | more-or-less
                  | normal
                  | distribution of letters, as opposed to using 'Content here, content here', making it
                  | look
                  | like
                  | readable English. Many desktop publishing packages and web
            .col-xl-6.col-lg-6.col-md-6.col-sm-12
              .blog-box
                figure
                  img(src='../static/img/blog-image0.jpg' alt='#')
                  span 10 Feb 2019
                .travel
                  span Post By : Travel Agency
                  p
                    strong.Comment  06 
                    | Comment
                  p
                    strong.like 05 
                    | Like
                h3 London Amazing Tour
                p
                  | It is a long established fact that a reader will be distracted by the readable
                  | content of a
                  | page
                  | when looking at its layout. The point of using Lorem Ipsum is that it has a
                  | more-or-less
                  | normal
                  | distribution of letters, as opposed to using 'Content here, content here', making it
                  | look
                  | like
                  | readable English. Many desktop publishing packages and web
  //---------------------------------------------- Subscribe Section ---------------------------------------------
  section#subs.subscribe
    .container
      .subscribe-title.text-center
        h2
          | Join our Subscribers List to Get Regular Update
        p
          | Subscribe Now. We will send you Best offer for your Trip
      form(action='/Subscribe' method='POST')
        .row
          .col-md-6
            .custom-input-group
              input.form-control(type='email' name='email' placeholder='Enter your Email Here')
              button.appsLand-btn.subscribe-btn(type='submit') Subscribe
              .clearfix
              i.fa.fa-envelope
