extends base.pug
block content
  section.Payment
    .payment
      h1.h1
        span.span
        | Payment
        span.span
      .container
        h1#paymentSucces 
          | Congrulations !!!
          | Payment Succesful....
          | Enjoy Your Trip..