//- extends base.pug
block style
  style
    include ../static/CSS/contact.css
block content
  section.contact-us.m-5
    .row.m-5
      .contact-col
        form(action='' method='POST')
          input(type='password' name="password" placeholder='Enter New password' required)
          input(type='password' name="cpassword" placeholder='Enter New Conform password' required)
          button(type='submit') Submit
