extends base.pug
block style
  style
    include ../static/CSS/tours.css
block content
  section.SeasonTours
    .seasonTours
      h1.h1
        span.span
        |  Spring Tours 
        span.span
      .container
        .row.seasonTour1
      h1.h1
        span.span
        |  Summer Tours 
        span.span
      .container
        .row.seasonTour2
      h1.h1
        span.span
        |  Fall Tours 
        span.span
      .container
        .row.seasonTour3
      h1.h1
        span.span
        |  Winter Tours 
        span.span
      .container
        .row.seasonTour4
block scripts
  script(src='https://unpkg.com/swiper/swiper-bundle.min.js')
  script(src='../static/JS/tours.js')