extends base.pug
block style
  style
    include ../static/CSS/services.css
block content
  .container
    h1.h1
      span.span
      | Services
      span.span
    .row.my-5
      .col-md-4.my-5
        .main
          .service
            .service-logo
              i.fa.fa-map-marker(aria-hidden='true')
            h4 Accessible Location
            p
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, ratione sit similique illo
              | amet dolorem ea? Laboriosam corrupti, ex soluta debitis obcaecati sint ipsam officiis optio
              | vitae, deserunt assumenda aperiam molestias ipsum?
          .shadowOne
          .shadowTwo
      .col-md-4.my-5
        .main
          .service
            .service-logo
              i.fa.fa-phone(aria-hidden='true')
            h4 Open 24/7
            p
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, ratione sit similique illo
              | amet dolorem ea? Laboriosam corrupti, ex soluta debitis obcaecati sint ipsam officiis optio
              | vitae, deserunt assumenda aperiam molestias ipsum?
          .shadowOne
          .shadowTwo
      .col-md-4.my-5
        .main
          .service
            .service-logo
              i.fa.fa-calendar-check-o(aria-hidden='true')
            h4 Reservation
            p
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, ratione sit similique illo
              | amet dolorem ea? Laboriosam corrupti, ex soluta debitis obcaecati sint ipsam officiis optio
              | vitae, deserunt assumenda aperiam molestias ipsum?
          .shadowOne
          .shadowTwo
      .col-md-4.my-5
        .main
          .service
            .service-logo
              i.fa.fa-users(aria-hidden='true')
            h4 Friendly Staff
            p
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, ratione sit similique illo
              | amet dolorem ea? Laboriosam corrupti, ex soluta debitis obcaecati sint ipsam officiis optio
              | vitae, deserunt assumenda aperiam molestias ipsum?
          .shadowOne
          .shadowTwo
      .col-md-4.my-5
        .main
          .service
            .service-logo
              i.fa.fa-bed(aria-hidden='true')
            h4 Accommodation
            p
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, ratione sit similique illo
              | amet dolorem ea? Laboriosam corrupti, ex soluta debitis obcaecati sint ipsam officiis optio
              | vitae, deserunt assumenda aperiam molestias ipsum?
          .shadowOne
          .shadowTwo
      .col-md-4.my-5
        .main
          .service
            .service-logo
              i.fa.fa-cc-visa(aria-hidden='true')
            h4 Visas
            p
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, ratione sit similique illo
              | amet dolorem ea? Laboriosam corrupti, ex soluta debitis obcaecati sint ipsam officiis optio
              | vitae, deserunt assumenda aperiam molestias ipsum?
          .shadowOne
          .shadowTwo
      .col-md-4.my-5
        .main
          .service
            .service-logo
              i.fa.fa-suitcase(aria-hidden='true')
            h4 Travel insurance
            p
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, ratione sit similique illo
              | amet dolorem ea? Laboriosam corrupti, ex soluta debitis obcaecati sint ipsam officiis optio
              | vitae, deserunt assumenda aperiam molestias ipsum?
          .shadowOne
          .shadowTwo
      .col-md-4.my-5
        .main
          .service
            .service-logo
              i.fa.fa-calculator(aria-hidden='true')
            h4 Accounting services
            p
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, ratione sit similique illo
              | amet dolorem ea? Laboriosam corrupti, ex soluta debitis obcaecati sint ipsam officiis optio
              | vitae, deserunt assumenda aperiam molestias ipsum?
          .shadowOne
          .shadowTwo